@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@import url(LadingPage/variables.css);
@import url(LadingPage/section__header.css);
@import url(LadingPage/section-producto.css);
@import url(LadingPage/section-article.css);
@import url(LadingPage/importance-of-flowers.css);
@import url(LadingPage/section-productosHechosaMano.css);
@import url(LadingPage/section-sesion.css);
@import url(LadingPage//footer.css);

/*fuentes de letras*/
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container-titulo__header{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: small;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color__blanco-palido);
}

.content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}