:root {
    --primary-color: #3719dd;
    --secundary-color: #cbcbcb;
    --grey-color: #4f4b4b;
    --white-color: #fff;
    --danger-color: #ff0000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secundary-color);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 10px;
    font-family: "Arial", sans-serif;
    box-shadow: 0 2px 4px var(--grey-color);
}

.encabezado__adso {
    color: var(--grey-color);
    font-size: 24px;
}

.encabezado__login {
    border-radius: 20px;
    padding: 5px 15px;
    color: var(--grey-color);
    margin-left: auto;
    text-decoration: none;
}

.encabezado__register {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 4px 13px;
    color: var(--primary-color);
    text-decoration: none;
}

.encabezado__register:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

  
  