.footer {
    margin-top: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__section {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px;
}

.footer__section--light {
    background-color: #fff;
}

.footer__section--dark {
    background-color: #000;
    color: #fff;
}

.footer__column {
    padding: 20px;
}

.footer__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}
