.section-productosHechosaMano {
    padding: 20px;
    align-items: center;
}
.section-productosHechosaMano__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.section-productosHechosaMano__title {
    font-size: 2rem;
    margin-bottom: 60px;
    text-transform: uppercase;
}



.section-productosHechosaMano__description {
    font-size: 1rem;
    font-weight:bold;
}



.section-productosHechosaMano__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.section-productosHechosaMano__image-container {
    text-align: center;
}

.section-productosHechosaMano__image {
    width: 50%;
    height: auto;
    border-radius: 0px;
}

.section-productosHechosaMano__caption {
    font-size: 1rem;
    margin-top: 5px;
    font-weight: bold;
    color: black;
}
