.floresteria__content {
  grid-area: content;
}
.floresteria__chips-wrapper {
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  background-color: var(--spacios);
  display: flex;
  padding-left: 14px;
  border-top: 1px solid var(--GRIS_SEMITRASPARENTE);
  border-bottom: 1px solid var(--GRIS_SEMITRASPARENTE);
}
.floresteria__chips {
  margin: 12px 6px;
  background-color: var(--spacios);
  padding: 6px 12px;
  color: var(--fuentes);
  cursor: pointer;
  border-radius: 15px;
  white-space: nowrap;
  transition: 0.5s;
}
.floresteria__chips-texto {
  font-size: 0.9rem;
}
.floresteria__chips:hover {
  background-color: var(--lila-rosado-oscuro);
  color: azure;
}
.floresteria__chips-wrapper::-webkit-scrollbar {
  height: 6px;
}
.floresteria__chips-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: var(--GRIS_OSCURO_CLARO);
}
