/* barra lateral de home*/
.floresteria__sidebar {
  grid-area: sidebar;
  background-color: var(--gren_fondo);
  padding-top: 10px;
  overflow-y: scroll;
}
.floresteria__sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}
.floresteria__sidebar-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  color: var(--white-color);
  font-size: 0.9rem;
}
.floresteria__sidebar-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  margin-left: 10px;
}
.floresteria__sidebar-icono {
  margin-right: 24px;
  font-size: 1.5rem;
}
.floresteria__sidebar-item:hover {
  background-color: var(--grey-color);
}
.floresteria__sidebar-linea-separador {
  margin: 12px 0;
  border: solid 1px var(--primary-color);
}
