:root{
    --blanco-puro:#fff;/*sidebar entre otros  */
    --GRIS_CLARO:#aaaa;/*sidebar entre otros  */
    --GRIS_SEMITRASPARENTE:rgba(255,255 ,255 ,0.2);
    --fuentes:#a31452;
    --spacios:#fffcfc;
    --lila-rosado-oscuro:#9e1b58;
    --rosado-suave:#f19bcc;
  }