.ñaña {
  background-color: #f9f9f9;
  margin-left: 20px;
  padding: 20px;
  width: 250px;
  float: left;
}
body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
