:root {
  --primary-color: #fa0b0b;
  --white-color: #fff;
  --grey-color: #cbcbcb;
  --dark-grey-color: #454343;
  --gren_fondo: #295f248a;
  --black_color: #000000;
}

* {
  margin: 0;
  padding: 0;
}
