:root {
  --primary-color: #fa0b0b;
  --white-color: #fff;
  --grey-color: #cbcbcb;
  --dark-grey-color: #454343;
  --gren_fondo: #295f248a;
  --black_color: #000000;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.floresteria{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar  content';
  height: 100vh;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 5px;
}